body{
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  justify-content: center;
}

.navbar-light{
  background-color: white;
}

/* navbar backgrou */
.navbar-custom{
  background-color: #729762;
}
/* navbar backgrou */

.navbar ul.navbar-nav li.nav-item a.nav-link {
  background-color: ;
  color: white;
  transition: 0.5s;
  font-weight: bold;
}

.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #445069;
}

.nav-link.active {
  color: #373A40!important;
 }

.navbar-light span.fafa {
  color: #729762;
  font-size: 3rem;
  transition: 0.5s;
}
.navbar-light span.fafa:hover{

}

.navbar-light button.navbar-toggler {
  color: #EEEEEE;
  background-color: #;
  box-shadow: ;
  border: 1px solid #ccc;
  font-size: 1.3rem;
  outline: none;
}

.navbar a.navbar-brand:hover {
  color: green;
}

.navbar-scrolled{
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.navbar{
  transition: all 0.8s;
}


h1{
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #658864;
  font-size: 3rem;
}

h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #373A40;
  font-size: 2rem
}

p{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #373A40;
  line-height: 2;
}

/* jasvasript scroll animations */

/* .hidden{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
} */

/* container-fluid1 */

.container-fluid1{
  padding: 5% 5%;
  overflow: hidden;
  background: url();
  background-size: cover;
  background-attachment: fixed;
}
.fastest{
  padding-top: 4%;
}

.img-fluid{
  width: ;
  height: ;
}

.button1{
  padding: 0 0 6% 0;
}

.btn-secondary2{
  background-color: #373A40;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5% 4%;
  color: #F5F7F8;
}
.take2:hover{
  color: #FEFDED;
  border: none;
}
.btn-secondary2 a{
  text-decoration: none;
  color: #F5F7F8;
}

.btn-secondary1{
  background-color: #fff;
  border: 1px solid #373A40;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5% 4%;
  color: #F5F7F8;
  margin-left: 15px;
}

.btn-secondary1 a{
  text-decoration: none;
  color: #373A40;
}
.btn-secondary1:hover{
    background-color: #76885B;
}
.take1:hover{
  color: #fff;
  border: none;
}

/* .header-h3 h3{
  font-family: "Ubuntu" sans-serif;
  font-weight: bold;
  font-size: 10rem
  color: #373A40;
} */



/* portfolios */

/* .Testimonial{
  padding: 5% 8% 10%;
  text-align: center;
}

.Porfolios{
  font-family: "Ubuntu" sans-serif;
  font-size: 3rem;
  padding: 5% 5%;
}

.course-p{
  font-family: "Ubuntu" sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}

.carousel-item{
  width: ;
  align-items: center;
  border-radius: 50px;
}

.carousel-inner{
  border-radius: 50px;
  background:; */
}


/* about */
.container-fluid1{
  padding: 8% 8.5% 7%;
}

.about-gemray{
  text-align: center;
  font-size: 2.5rem;
  color: #686D76;
}

.about-span{
  color: #686D76;
}

#aboutgemray{
  background-color: #EEEEEE;
  padding: 3% 5% 3%;
}

.gemray{
  font-family: "Ubuntu", san-serif;
  font-size: 2rem;
  color: #658864;
  font-weight: bold;
}

.gemray-p{
  font-weight: 400px;
  line-height: 1.5rem;
  color: #686D76;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
}

.img{
  padding-bottom: 8%;
}


/* why choose us */
#container{
  padding: 6% 8.5%;
  background-color: #F5F7F8;
  background-image: url(images/44.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.why{
  font-family: "Ubuntu", san-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  /* color: #686D76; */
  text-align: center;
  padding: 3% 0;
}

.Exp-span{
  font-family: "Ubuntu", san-serif;
  font-weight: 500;
  /* color: #45474B; */
  color: #EEEDEB;
  font-size: 2rem;
}

.About-h1{
  font-family: "Ubuntu", san-serif;
  font-size: 3rem;
  font-weight: normal;
  font-weight: bold;
  padding-bottom: 1.5rem;
  text-align: center;
  color: #FFBF00;
}

.digi-M{
  font-family: "Ubuntu", san-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  /* color: #45474B; */
  color: #D0D4CA;
}

.Digi-P{
  font-family: "Ubuntu", san-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #D0D4CA;
}

.fa-solid{
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: white;
}



/* <!-- lests increase your sales --> */
.lets-increase{
  padding: 8% 8% 8%;
  background: url();
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
  text-align: center;
  background-color: #EEEEEE;
}

span2{
  font-size: 3rem;
  color: #FFBF00;
}

/* ours sales academy */
.img{
  width: ;
}
.paddingtop{
  padding-top: 0%;
}
.container-fluid02{
  padding: 0% 0% 5%;
  text-align: center;
}

.our-sales{
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 1%;
  color: white;
}
.we-have{
  font-size: 1.2rem;
  font-weight: lighter;
  padding-bottom: 2%;
  color: white;
  line-height: 2rem;
}

.container4{
  padding: 6% 5% 5%;
  background-image: url(images/500.png);
  background-position: center;
  width: 100%;
  height: 330px;
}

.container5{
  padding: 2% 10% 10%;
  text-align: center;
}
.sales-p{
  padding: 10% 0 3%;
}

.btn-secondary3{
  background-color: #373A40;
  border: none;
  padding: 0 0% 0;
  text-decoration: none;
  color: #fff;
  width: 14rem;
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
}
.see{
  background-color: #373A40;
  border: none;
  text-decoration: none;
  padding: 1.5% 4%;
  color: #F5F7F8;
}
.see:hover{
  text-decoration: none;
  color: #DDDDDD;
}


/* brands mission */
.container-fluid2{
  padding: 10% 8% 5%;
  background: #EEEEEE;
}

.img1{
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.brands-h1{
  font-family: "Ubuntu" sans-serif;
  color: #373A40;
  font-weight: bold;
}

/* founder special note */
.container6{
  padding: 10% 6% 10%;
  align-items: center;
}

.spec-note-h6{
  font-size: 2.3rem;
  font-weight: bold;
  padding-bottom: 3%;
  color: #658864;
}

.rounded{
  /* -webkit-box-shadow: -2px 0px 25px 4px rgba(0,0,0,0.36);
  -moz-box-shadow: -2px 0px 25px 4px rgba(0,0,0,0.36);
  box-shadow: -2px 0px 25px 4px rgba(0,0,0,0.36); */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
 span1{
  font-weight: bold;
}
span3{
  font-weight: lighter;
}


/* Testimonial session Happy Customers*/
#testimony{
  padding: 7% 13%;
  text-align: center;
  color: white;
  background-color: #EEEEEE;
}

.happy-h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.testy-1{
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.8;
}

span4{
  color: #658864;
  font-weight: bold;
  font-size: 1.3rem;
}

.ceo{
  color: black;
}

.carousel-item{
  width: 100%;
  background-position: center !Important;
  background-size: cover !Important;
}

.testy-image{
  width: 13%;
  border-radius: 25%;
  margin: 20px;
}

.fafa1{
  color: black;
  font-size: 1rem;
}

#carouselExampleIndicators ol.carousel-indicators li{
  background-color: #686D76;
}



/* footer */
#footer{
    background-color: #2F3645;
}
.container{
  padding: 8% 5% 5%;
  margin-bottom: 3%;
  text-align: center;
}

.col-lg-4{
  text-align: center;
  margin: 3.5% 0;
}


.useful{
  font-size: 1.1rem;
  color: #EEEDEB;
}

.col-lg-4 a{
  text-decoration: none;
  margin-left: 3%;
  color: #EEEDEB;
  transition: 0.2s;
  font-size: 14px;
  font-weight: lighter;
}

.col-lg-4 a:hover{
  color: #7F9F80;
}

.botom{
  text-align: center;
  padding-bottom: 4%;
}

.footer-h6{
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
  color: #EEEEEE;
}

.botom h5{
  font-size: 1rem;
  color: #686D76;
  font-weight: lighter;

}

.yhaw{
  font-size: 14px;
  color: #EEEDEB;
  font-weight: lighter;
}

.fa-brands{
  font-size: 1.2rem;
  margin-left: 2px;
  color: #686D76;
}



/* navbar-collapse */
@media only screen and (max-width : 900px) {
    .navbar-collapse {
    background: #A1C398;
    padding: 0 15px;
  }
}
/* navbar-collapse */



@media (max-width: 900px) {
  .fastest{
    text-align: left;
  }
  .button-animate1{
    font-size: 1.2rem;
  }
  .button-animate2{
    font-size: 1.2rem;
  }

  .brands-m{
    text-align: center;
  }
  .we{
    text-align: center;
  }
  .row{
    text-align: center;
    padding-bottom: 5%;
  }
  .container4{
    background-position: center;
    background-attachment: scroll;
  }

  }

  @media (max-width: 768px){
    .our-sales{
      font-size: 2.3rem;
    }

    .container-fluid02{
      padding-top: 5%;
    }
    .container4{
      height: 300px;
    }
  }

  /* phone breakpoint */
  @media (max-width: 487px) {
    .container5{
      text-align: left;
    }
    .bttn{
      font-size: 1rem;
      width: 10rem;
      height: 3rem;
    }
    .brands-h1{
        text-align: left;
    }
    .brands-p{
      text-align: left;
      padding-bottom: 3%;
    }

  }

  @media (max-width: 2048px){
    .spec-note-p{
      padding: 5% 3% 0;
      text-align: left;
    }
    .container6{
      text-align: center;
      align-items: center;
    }
    .special-note1{
      text-align: center;
      align-items: center;
      padding: 3% 5% 0;
    }
  }
  /* @media (min-width: 900px){
    .spec-note-p{
      padding: 5% 3% 0;
    }
  } */


  /* navbar-collapse */

  @media (max-width: 900px){

    .footer-h6{
      padding: 0 8%;
    }
    .fa-brands{
      margin-right: 5px;
      padding-right: 5px;
    }
    .gemray-p{
      text-align: left;
    }
    #container{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: 487px) {
    .gemray{
      padding-top: 30px;
    }
  }
